
.header{
  height: 95vh;
  background-image: linear-gradient(to left bottom
  ,#27ae5fbe
  ,#ecf0f1cb),url(./img/header.JPG);
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 0, 100% 100%, 50% 90% , 0 100%, 0 0)
}
@media only screen and (max-width: 400px) {
  
}